<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
        
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="customer" class="form-area">
                   <h3>Customer</h3>

                   <div class="row mb-3">
                       <div class="col-md-3 vertical-center"> <label>First Name</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="firstName" type="text">
                        </div>

                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                                First Name is required
                            </div>
                            <div *ngIf="firstName.errors.minlength">
                                First Name must be at least 2 characters long
                            </div>
                        </div>
                   </div>
                   <div class="row mb-3">
                       <div class="col-md-3 vertical-center"> <label>Last Name</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="lastName" type="text">
                        </div>

                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                                Last Name is required
                            </div>
                            <div *ngIf="lastName.errors.minlength">
                                Last Name must be at least 2 characters long
                            </div>
                        </div>
                   </div>
                   <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Email</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="email" type="text">
                        </div>

                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="email.errors.required">
                                Email is required
                            </div>
                            <div *ngIf="email.errors.pattern">
                                Email must be a valid email address format
                            </div>
                        </div>
                    </div>
                </div>

                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Country</label> </div>
                        <div class="col-md-9 vertical-center">
                            <select class="select-space" formControlName="country" 
                                    (change)="getStates('shippingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{ country.name }}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="shipCountry.invalid && (shipCountry.dirty || shipCountry.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="shipCountry.errors.required || shipCountry.errors.notOnlyWhitespace">
                                Country is required
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Street</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="street" type="text">
                        </div>

                        <div *ngIf="shipStreet.invalid && (shipStreet.dirty || shipStreet.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="shipStreet.errors.required || shipStreet.errors.notOnlyWhitespace">
                                Street is required
                            </div>
                            <div *ngIf="shipStreet.errors.minlength">
                                Street Name must be at least 2 characters long
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>City</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="city" type="text">
                        </div>

                        <div *ngIf="shipCity.invalid && (shipCity.dirty || shipCity.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="shipCity.errors.required || shipCity.errors.notOnlyWhitespace">
                                City is required
                            </div>
                            <div *ngIf="shipCity.errors.minlength">
                                City name must be at least 2 characters long
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>State</label> </div>
                        <div class="col-md-9 vertical-center">
                            <select class="select-space" formControlName="state">
                                <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                    {{ state.name }}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="shipState.invalid && (shipState.dirty || shipState.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="shipState.errors.required || shipState.errors.notOnlyWhitespace">
                                State is required
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Zip Code</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="zipCode" type="text">
                        </div>

                        <div *ngIf="shipZipCode.invalid && (shipZipCode.dirty || shipZipCode.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="shipZipCode.errors.required || shipZipCode.errors.notOnlyWhitespace">
                                Zip Code is required
                            </div>
                            <div *ngIf="shipZipCode.errors.minlength">
                                Zip Code must be at least 3 characters long
                            </div>
                        </div>
                    </div>

                </div>

                <div class="checkbox-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="fillBillingAddress($event)">
                        <span class="au-checkmark"></span> Billing Address same as Shipping Address
                    </label>
                </div>

                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Country</label> </div>
                        <div class="col-md-9 vertical-center">
                            <select class="select-space" formControlName="country"
                                    (change)="getStates('billingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{ country.name }}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="billCountry.invalid && (billCountry.dirty || billCountry.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="billCountry.errors.required || billCountry.errors.notOnlyWhitespace">
                                Country is required
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Street</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="street" type="text">
                        </div>

                        <div *ngIf="billStreet.invalid && (billStreet.dirty || billStreet.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="billStreet.errors.required || billStreet.errors.notOnlyWhitespace">
                                Street is required
                            </div>
                            <div *ngIf="billStreet.errors.minlength">
                                Street Name must be at least 2 characters long
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>City</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="city" type="text">
                        </div>

                        <div *ngIf="billCity.invalid && (billCity.dirty || billCity.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="billCity.errors.required || billCity.errors.notOnlyWhitespace">
                                City is required
                            </div>
                            <div *ngIf="billCity.errors.minlength">
                                City name must be at least 2 characters long
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>State</label> </div>
                        <div class="col-md-9 vertical-center">
                            <select class="select-space" formControlName="state">
                                <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                    {{ state.name }}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="billState.invalid && (billState.dirty || billState.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="billState.errors.required || billState.errors.notOnlyWhitespace">
                                State is required
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Zip Code</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="zipCode" type="text">
                        </div>

                        <div *ngIf="billZipCode.invalid && (billZipCode.dirty || billZipCode.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="billZipCode.errors.required || billZipCode.errors.notOnlyWhitespace">
                                Zip Code is required
                            </div>
                            <div *ngIf="billZipCode.errors.minlength">
                                Zip Code must be at least 3 characters long
                            </div>
                        </div>
                    </div>

                </div>

                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Card Type</label> </div>
                        <div class="col-md-9 vertical-center">
                            <select class="select-space" formControlName="cardType">
                                <option>Visa</option>
                                <option>Mastercard</option>
                            </select>
                        </div>

                        <div *ngIf="cardType.invalid && (cardType.dirty || cardType.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="cardType.errors.required">
                                Card Type is required
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Name on Card</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="nameOnCard" type="text">
                        </div>

                        <div *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="nameOnCard.errors.required || nameOnCard.errors.notOnlyWhitespace">
                                Name On Card is required
                            </div>
                            <div *ngIf="nameOnCard.errors.minlength">
                                Name On Card must be at least 2 characters long
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Card Number</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="cardNumber" type="text">
                        </div>

                        <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="cardNumber.errors.required">
                                Card Number is required
                            </div>
                            <div *ngIf="cardNumber.errors.pattern">
                                Card Number should have between 13 and 19 digits.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Security Code</label> </div>
                        <div class="col-md-9 vertical-center">
                            <input class="input-space" formControlName="securityCode" type="text">
                        </div>

                        <div *ngIf="securityCode.invalid && (securityCode.dirty || securityCode.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="securityCode.errors.required">
                                Security Code is required
                            </div>
                            <div *ngIf="securityCode.errors.pattern">
                                Security Code consits only of 3 digits
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Expiration Month</label> </div>
                        <div class="col-md-9 vertical-center">
                            <select class="select-space" formControlName="expirationMonth">
                                <option *ngFor="let month of creditCardMonths">
                                    {{ month }}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="expirationMonth.invalid && (expirationMonth.dirty || expirationMonth.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="expirationMonth.errors.required">
                                Expiration Month is required
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3 vertical-center"> <label>Expiration Year</label> </div>
                        <div class="col-md-9 vertical-center">
                            <select class="select-space" formControlName="expirationYear" 
                                    (change)="handleMonthsAndYears()">
                                <option *ngFor="let year of creditCardYears">
                                    {{ year }}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="expirationYear.invalid && (expirationYear.dirty || expirationYear.touched)"
                                class="alert alert-danger col-md-11">
                            <div *ngIf="expirationYear.errors.required">
                                Expiration Year is required
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency: 'EUR' }}</p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>

        </div>
    </div>
</div>
